<div *ngIf="event; else loading">
	<h1>{{ event.title }}</h1>
	<p>{{ event.description }}</p>
	<div *ngIf="event?.pollOptions; else noPollData">
		<form (ngSubmit)="submitVotes()">
			<div *ngFor="let option of event.pollOptions; index as i">
				<div class="poll-option">
					<input
						type="radio"
						[name]="pollGroupName"
						[id]="option.id"
						[(ngModel)]="votes[i]"
					/>
					<label [for]="option.id">{{ option.time | date : 'medium' }}</label>
					<p>{{ option.optionText }}</p>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit Votes</button>
		</form>
	</div>
	<div class="event-info">
		<p>Event ID: {{ event?.id }}</p>
		<p>Email Token: {{ event?.emailToken }}</p>
	</div>
</div>
<ng-template #loading>
	<p>Loading event data...</p>
</ng-template>
<ng-template #noPollData>
	<p>No poll data available.</p>
</ng-template>
